<ion-header class="ion-text-center">
  <ion-toolbar>
    <ion-title>Database in Ionic</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div style="width:100%;height:90vh;padding:10px;overflow: hidden;" id="zhome">
    <div>
      <form #userform="ngForm" (ngSubmit)="addOneUser()" >
        <ion-list lines="full">
          <ion-item>
            <ion-label position="floating">E-mail</ion-label>
            <ion-input name="email" require #email="ngModel" [(ngModel)]="userM['email']"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Name</ion-label>
            <ion-input name="name" require #name="ngModel" [(ngModel)]="userM['name']"></ion-input>
          </ion-item>
        </ion-list>
        <ion-button expand="full" color="secondary" type="submit" [disabled]="userM['email']=='' || userM['name']==''" style="margin-top:10px;">Submit</ion-button>
      </form>
    </div>
    <div style="height:calc(100% - 193px);">
      <h2 class="ion-text-center">We have {{this.allusers.length}} user(s)</h2>
      <div id="list" style="height:calc(100% - 30px);overflow-y: auto;">
        <div *ngFor="let item of allusers;let key = index;" class="oneuser">
          <div>{{item.email}}</div>
          <div>{{item.name}}</div>
          <div><ion-button size="small" color="danger" (click)="deleteOneUser(key)">Delete</ion-button></div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
